# Python
__pycache__/
*.py[cod]
*$py.class

# Build
build/
dist/
*.egg-info/

# Virtual Environment
.venv/
venv/
env/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db